body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

.quiz-container {
  background: white;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}
