body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fff3b0;
}

.quiz-container {
  background: white;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

.btn {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}


.btn:hover {
  background-color: #ddd;
}

.correct {
  background-color: #4CAF50;
  color: white;
}

.wrong {
  background-color: #f44336;
  color: white;
}

#next-btn {
  margin-top: 10px;
  padding: 10px;
}
